//Body
body {
  background-color: $light_black;
}
header,
main,
footer {
  overflow: hidden;
}
span {
  display: inline-block;
}

//Wrappers
.wrap {
  margin: 0 auto;
  padding: 0 20px;
}
.wrap--primary {
  max-width: 1800px;
}
//Links

a {
  text-decoration: none;
}

//Universal sizes for icon photo 
.presentation-photo {
  max-width: 70px;
  max-height: 70px;
}

