//Body
body {
  background-color: $light_black;
}

span {
  display: inline-block;
}

//Wrappers
.wrap {
  margin: 0 auto;
  padding: 0 20px;
}
.wrap--primary {
  max-width: 1800px;
}
.wrap--secondary {
  max-width: 1468px;
}
.wrap--tertiary {
  max-width: 1564px;
}
//Links

a {
  text-decoration: none;
}

//Universal sizes for icon photo
.presentation-photo {
  max-width: 70px;
  max-height: 70px;
}
