
//Fonts props 
body {
    font-family: "Poppins";
}
.header-above {
    text-transform: uppercase;
}
p {
    font-size: 16px;
    letter-spacing: -0.5px;
    line-height: 27px;
}
h2 {
    font-size: 50px;
}

@media screen and (max-width: 768px) {
    h2 {
        font-size: 30px;
    }
    p {
        font-size: 14px;
    }
}