//Classic bg properties for project
@mixin background {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
//Mixin for darker background img
@mixin darker {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $light_black;
  z-index: 2;
  opacity: 0.6;
}
//Specific mixin for presentation textes
@mixin presentation-text {
  padding: 294px 0 161px 0;
  color: $white;
  max-width: 551px;
  position: relative;
  z-index: 9999;
}
@mixin presentation-lines {
  letter-spacing: -0.5px;
  max-width: 473px;
  line-height: 27px;
}
//Mixin for default linear gradient

@mixin linear {
  background-image: linear-gradient(
    to left bottom,
    $purple,
    $pink,
    $dark_pink,
    $light_red,
    $dark_red,
    $dark_red,
    $dark_red,
    $dark_red,
    $light_red,
    $dark_pink,
    $pink,
    $purple
  );
}

//Mixin for Media Query sizes

@mixin tablet {
  @media screen and (max-width: 1200px) {
    @content;
  }
}

@mixin phone {
  @media screen and (max-width: 768px) {
    @content;
  }
}
