//Colors
$white: rgba(255, 255, 255, 255);
$black: rgba(0, 0, 0, 1);
$light_black: rgba(37, 37, 37, 37);
$purple: rgba(125, 43, 196, 1);
$deep__gray: rgba(34, 35, 35, 0.6);
$deep_purple: rgba(54, 19, 85, 85);

//Colors for default linear gradient 
$dark_red: rgba(50, 12, 33, 33);
$pink: rgba(122, 19, 143, 143);
$dark_pink: rgba(104, 7, 98, 98);
$light_red: rgba(79, 9, 61, 61);
//Transitions

$slow: 1s ease-in-out;
$normal: 0.6s ease-in-out;
$fast: 0.3s ease-in-out;
