//Offers properties
.offers {
  margin-bottom: 171px;
}
.offers__join-text {
  padding: 140px 20px 0 20px;
  margin: 0 auto 54px auto;
  max-width: 748px;
  color: $white;
  text-align: center;
}
.offers__eye {
  margin-bottom: 40px;
}
.offers__header {
  margin-bottom: 28px;
}
.offers__lines {
  max-width: 671px;
  margin: 0 auto;
}
.offers__watches {
  text-align: center;
  padding: 0 20px;
  margin-bottom: 57px;
  @include background;
}

.offers__photo {
  max-width: 953px;
  max-height: 694px;
}
.offers__button-holder {
  display: flex;
  justify-content: center;
}
@media screen and (max-width: 1200px) {
    .offers__photo {
        max-width: 700px;
        max-height: 500px;
      }
}

@media screen and (max-width: 768px) {
    .offers__join-text {
        padding-top: 0;
    }
    .offers__header {
        font-size: 30px;
    }
    .offers__photo {
        max-width:100%;
        max-height: 100%;
      }
}